.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.viewBox {
    display: flex;
    align-items: center;
    text-align: center;
}
a.div.viewBox {
    border: 1px solid black;
    color: black;
    margin-right: 20px;

}
.card-text {
    text-align: center;
    color: black;
    text-decoration: none;
}
.card-title {
    text-align: center;
}
.container-page {
    display: flex;
}
